<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Snow | posts page</title>
    <link rel="stylesheet" href="css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700|Work+Sans:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <header id="header" class="not-main">
            <!-- header - menu -->
            <div class="header-content">
                <div class="container">
                    <div class="header-wrapper"> <a href="index.html" class="logo">
                            <img width="82" height="32" src="img/logo-light.svg" alt="snow"></a>
                        <nav>
                            <span id="trigger" class="trigger">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                            <ul class="menu" id="menu">
                                <li><a href="#about-agency">about</a></li>
                                <li><a href="#contact">contact</a></li>
                                <li><a href="snow.portfolio.html">portfolio</a></li>
                                <li><a href="posts.page.html">blog</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- header - menu - end -->
        <main id="main">
            <section class="blog-posts-list">
                <div class="container">
                    <div class="project-items">
                        <div class="project-items-col">
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture"></a>
                                    <a href="#" class="blog-category">nature</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>Something I need to tell you</strong></a>
                                    <time datetime="2016-05-16">May 16, 2016</time>
                                    <p>Mauris sed odio tincidunt, volutpat augue, commodo dui. Phasellus hendrerit condi ntum vehicula.</p>
                                </div>
                            </div>
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture"></a>
                                    <a href="#" class="blog-category">branding</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>Are you doing The Right Way?</strong></a>
                                    <time datetime="2016-05-28">May 28, 2016</time>
                                    <p>Curabitur et diam ut magna pulvinar euis mod. Sed metus purus, ornare id mole, laoreet vitae magna.</p>
                                </div>
                            </div>
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture blog-picture-big"></a>
                                    <a href="#" class="blog-category">nature</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>Five things about Nature</strong></a>
                                    <time datetime="2016-06-03">June 03, 2016</time>
                                    <p>Aenean libero erat, sollicitudin in enim, egestas convallis arcu. Nunc ligula felis, cursus nec pellentesque at.</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-items-col">
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture blog-picture-big"></a>
                                    <a href="#" class="blog-category">cities</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>Here's a Simple Trick</strong></a>
                                    <time datetime="2016-05-22">May 22, 2016</time>
                                    <p>Aenean libero erat, sollicitudin in enim, egestas convallis arcu. Nunc ligula felis, cursus nec pellentesque at.</p>
                                </div>
                            </div>
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture"></a>
                                    <a href="#" class="blog-category">design</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>Ten things about Photography</strong></a>
                                    <time datetime="2016-05-31">May 31, 2016</time>
                                    <p>Nulla eget libero sed lacus tempor sod, eu vel est. Suspendisse sit amet nulla justo viverra tempus.</p>
                                </div>
                            </div>
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture"></a>
                                    <a href="#" class="blog-category">branding</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>The History of Branding</strong></a>
                                    <time datetime="2016-06-08">June 08, 2016</time>
                                    <p>Quisque semper egestas nisi a vestibul. Nullam placerat justo libero, et dapibus lus ultricies sed.</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-items-col">
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture"></a>
                                    <a href="#" class="blog-category">nature</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>The History Of Nature</strong></a>
                                    <time datetime="2016-05-25">May 25, 2016</time>
                                    <p>Proin euismod et nisl eu luctus. Vestib maximus molestie accumsan. Etiam vitae est arcu. Morbi sit amet dui ex.</p>
                                </div>
                            </div>
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture"></a>
                                    <a href="#" class="blog-category">design</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>Why you should Always First</strong></a>
                                    <time datetime="2016-06-01">June 01, 2016</time>
                                    <p>Mauris sed odio tincidunt, volutpat gue, commodo dui. Phasellus hendrerit condi ntum vehicula.</p>
                                </div>
                            </div>
                            <div class="posts-list-item">
                                <div class="blog-post-pct"><a href="#" style="background-image: url(img/post-img-02.jpg);" class="blog-picture blog-picture-big"></a>
                                    <a href="#" class="blog-category">cities</a></div>
                                <div class="blog-text">
                                    <a href="#"><strong>My Favorite Place on earth is...</strong></a>
                                    <time datetime="2016-06-12">June 12, 2016</time>
                                    <p>Vestibulum maximus molestie accumsan. Etiam vitae est arcu. Morbi sit amet ex. Nam consectetur maximus ornare.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pagination">
                <div class="container">
                    <div class="page-nav">
                        <a href="#" class="load"><span>load more posts</span></a>
                    </div>
                </div>
            </section>
        </main>
        <footer id="footer" class="footer-blog">
            <div class="container">
                <div class="footer-content">
                    <ul class="footer-social">
                        <li><a href=" #" class="icon-facebook"></a></li>
                        <li><a href="#" class="icon-twitter"></a></li>
                        <li><a href="#" class="icon-google"></a></li>
                        <li><a href="#" class="icon-behance"></a></li>
                        <li><a href="#" class="icon-pinterest"></a></li>
                        <li><a href="#" class="icon-instagram"></a></li>
                    </ul>
                    <div class="copyright">Copyright &copy; 2016. Created by Unvab</div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/main.js"></script>
</body>

</html>